@font-face{
    font-family: "League Spartan";
    src: url("../fonts/league-spartan.bold.otf") format(opentype), url("../fonts/league-spartan.bold.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

footer{
    font: bold;
    font-size: 20;
    color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    /*transform: translateY(-75%);*/
}

h1{
    font-family: "League Spartan";
    font-weight: bold;
    color:aliceblue;
    text-align: center;
}

h2{
    font-family: "League Spartan";
    font-weight: bold;
    color:aliceblue;
    text-align: center;
}

p{
    font-family: "League Spartan";
    font-weight: 500;
    color: aliceblue;
    text-align: left; 
    font-size: medium;
}

nav{
    background-color: #546ea2;
    border-color: black;
    border-style: solid;
}

body{
    background-color: #373737;
}

#logo{
    text-align: left;
}

#nologged{
    float: right;
    border-style: solid;
    border-color: black;
    border-radius: 55%;
    background-color: white;
}

#contlog{
    background-color: white;
}

#copyright{
    text-align: center;
}
